*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
}

img{
  width: 100%;
  height: 100%;
}

.cabecera {
  background-color: #333;
  color: #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.logo{
  width: 10rem;
}

.cabecera ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.cabecera li {
  margin-right: 10px;
}

.cabecera li a {
  text-decoration: none;
  color: #ccc;
  padding: 5px;
}

.cabecera li a:hover {
  color: #ccc;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.block {
  width: 33%;
  float: left;
  padding: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

.recode {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "title title"
                       "logo description";
  justify-items: center;                      
  align-items: center;
}

.recode__title{
  grid-area: title;
}

.recode__logo{
  width: 12rem;
  grid-area: logo;
}

.recode__description{
  grid-area: description;
}

.creator{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 2fr;
}

.creator-oquendo{
  grid-template-areas: "title title"
                       "description photo";
  justify-items: center;                      
  align-items: center; 
}

.creator-lopez{
  grid-template-areas: "title title"
                       "photo description";                      
  justify-items: center;                      
  align-items: center;
}

.creator__title{
  grid-area: title;
}

.creator__descriptio{
  grid-area: description;
}

.creator__photo{
  width: 12rem;
  height: 12rem;
  grid-area: photo;
}

.creator__photo img{
  border-radius: 50%;
}

.technologies__image{
  width: 12rem;
}
